torch==2.2.1+cu113
transformers @ git+https://github.com/huggingface/transformers.git@c8d98405a8f7b0e5d07391b671dcc61bb9d7bad5
ttkthemes==3.2.2
numpy==1.26.4
tokenizers==0.15.2
huggingface-hub==0.20.3
datasets==2.17.1
tkinterdnd2==0.3.0